.admin-login{
  padding-top: 60px;
  display: flex;
  justify-content:center;
  flex-direction: column;
  font-family: $body-font;
  h2{
    text-align: center;
    color: white;
  }
  .login-btn{
    width: 600px;
    background-color: $orange;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    color: white;
    cursor: pointer;
    .fa-spinner{
      -moz-transition: all 1.5s linear;
      -webkit-transition: all 1.5s linear;
      transition: all 1.5s linear;
      &.down{
        -ms-transform:rotate(780deg);
        -moz-transform:rotate(780deg);
        -webkit-transform:rotate(780deg);
        transform:rotate(780deg);
      }
    }
  }
  input{
    width: 600px;
    border: none;
    margin: 10px auto;
    padding: 20px;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: black;
      font-family: $body-font;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: black;
      font-family: $body-font;
      opacity: 1;
    }
    &:-moz-placeholder { /* Mozilla Firefox 19+ */
      color: black;
      font-family: $body-font;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: black;
      font-family: $body-font;
    }
    &:-ms-input-placeholder { /* Microsoft Edge */ 
      color: black;
      font-family: $body-font;
    }
  }

}
#editEvent{
  .fa-spinner{
    -moz-transition: all 1.5s linear;
    -webkit-transition: all 1.5s linear;
    transition: all 1.5s linear;
    &.down{
      -ms-transform:rotate(780deg);
      -moz-transform:rotate(780deg);
      -webkit-transform:rotate(780deg);
      transform:rotate(780deg);
    }
  }
}