.event-pop-wrapper {
  width: 100%;
  position: absolute;
  z-index: 600;
  background-color: rgba(0,0,0,.25);
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  overflow: scroll;
  display: none;
}

.event-pop {
  width: 75%;
  height: auto;
  margin: 20px 0px 20px 0px;
  background-color: $light-green;
  overflow: scroll;

  .pop-top{
      width: 100%;
      height: 350px;
      background: linear-gradient(
      rgba(30, 195, 154, 0.5),
      rgba(30, 195, 154, 0.5)
    ), center center no-repeat url("../img/datguy.jpg");
  }
  .pop-name{
    color: white;
    background-color: $dark-green;
    font-family: $header-font;
    display:inline-block;
    font-size: 40px;
    margin-top: 270px;
    margin-left: 15px;
  }

  .pop-important-info {
    width: 100%;
    height: 70px;
    background-color: $base-green;
    padding: 0px 15px 0px 15px;
    @include display-flex();
    @include justify-content(space-between);
    @include align-items(center);

    .information {
      height: 100%;
      width: 35%;
      @include display-flex();
      @include align-items(center);
      @include justify-content(space-between);

      .info {

        .info-header {
          font-family: $header-font;
          color: $dark-green;
          font-size: 20px;
        }
        .info-body {
          font-family: $body-font;
          color: #ffffff;
          font-size: 20px;
        }
      }
    }
    .sign-up-button {
      width: 200px;
      height: 40px;
      background-color: $orange;
      cursor: pointer;
      @include display-flex();
      @include justify-content(center);
      @include align-items(center);

      p {
        color: #ffffff;
        font-family: $body-font;
        font-size: 20px;
      }
    }
  }

  .hidden {display: none}

  .pop-sign-up {
    width: 100%;
    height: 50px;
    background-color: $dark-green;
    @include display-flex();
    @include justify-content(space-around);
    @include align-items(center);

    .sign-up {
      width: 70%;
      height: 100%;
      @include display-flex();
      @include justify-content(space-between);
      @include align-items(center);

      input {
        width: 200px;
        height: 25px;
        background-color: $light-green;
        border: none;
        font-size: 15px;
        padding-left: 5px;
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: black;
          font-family: $body-font;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: black;
          font-family: $body-font;
          opacity: 1;
        }
        &:-moz-placeholder { /* Mozilla Firefox 19+ */
          color: black;
          font-family: $body-font;
          opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: black;
          font-family: $body-font;
        }
        &:-ms-input-placeholder { /* Microsoft Edge */
          color: black;
          font-family: $body-font;
        }
      }

      .submit-button {
        width: 200px;
        height: 25px;
        background-color: $orange;
        cursor: pointer;
        @include display-flex();
        @include justify-content(center);
        @include align-items(center);

        p {
          color: #ffffff;
          font-family: $body-font;
          font-size: 15px;
        }
      }
    }
    .sign-up-thx {
      display: none;
      color: #ffffff;
      font-family: $body-font;
      font-size: 15px;
    }
  }

  .pop-information {
    width: 100%;
    height: auto;

    .pop-about {
      width: 70%;
      height: auto;
      margin: 20px 0px 20px 0px;
      padding-left: 15px;

      .about-header {
        font-family: $header-font;
        color: $dark-green;
        font-size: 25px;
      }
      .about-info {
        font-family: $body-font;
        color: #000000;
        font-size: 20px;
      }
    }
  }

  .pop-tags {
    width: 100%;
    height: 60px;
    background-color: $base-green;
    @include display-flex();
    @include align-items(center);

    .tags-header {
      p {
        color: #ffffff;
        font-family: $header-font;
        font-size: 30px;
        padding-left: 10px;
      }
    }
    .tags {
      height: 100%;
      @include display-flex();
      @include align-items(center);

      p {
        color: $orange;
        cursor: pointer;
        font-family: $body-font;
        font-size: 25px;
        padding-left: 10px;

      }
    }
  }

  .map {
    iframe {
      width: 100%;
    }
  }
}
