@import "variables";
@import "mixins";
@import "sass-flexbox";

.frontpage-top {
  width: 100%;
  height: 100vh;
}

.hero {
  width: 100%;
  height: 100vh;
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
}

.wtf-text {
  font-family: $header-font;
  color: #ffffff;
  font-size: 100px;
  width: 70%;
  height: 650px;
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(center);

  @include bp-mobile(){
    font-size: 45px;
    width: 95%;
  };

  @include bp-tablet(){
    width: 85%;
    font-size: 70px;
  };
}

.join {
  font-family: $header-font;
  color: #ffffff;
  font-size: 40px;

  @include bp-mobile(){
    font-size: 25px;
  };
}

.sponsor-section {
  width: 100%;
  height: 500px;
  background-color: $dark-green;

  p {
    font-family: $header-font;
    color: #ffffff;
    font-size: 50px;
    padding-left: 50px;

  }

  @include bp-mobile(){
    height: 300px;
  };
}

.sponsors-example {
  width: 100%;
  height: 400px;
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-around);
  @include align-items(center);

  @include bp-mobile(){
    height: 200px;
  };
}

.sponsor-row {
  width: 100%;
  height: 120px;
  @include display-flex();
  @include justify-content(space-around);
}

.second {
  width: 70%;
}

.sponsor-img {
  width: 25%;
  @include align-self(center);

  @include bp-mobile() {
    width: 30%;
  };
}

.sponsor-contact {
  width: 100%;
  height: 50px;
  background-color: $orange;
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  cursor: pointer;

  p {
    font-family: $body-font;
    color: #ffffff;
    font-size: 20px;

    @include bp-mobile(){
      font-size: 15px;
    };
  }
}

.overview-content.grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .event-item{
    width: 33.33%;
    height: 350px;
    padding: 5px;
    position: relative;
    background: linear-gradient(
    rgba(30, 195, 154, 0.5),
    rgba(30, 195, 154, 0.5)
  ), center center no-repeat url("../img/datguy.jpg");

    div{
      opacity: 0;
      position: absolute;
      bottom: 5px;
      background-color: white;
      @include transition(opacity .25s ease-in-out)
    }
    .event-item_date:after{
      content: ",";
    }
    @include bp-mobile() {
      width: 50%;
    }
  }
  .event-item:hover{
    div{
      opacity: 1;
    }
  }
}

.overview-content{
  color: $dark-green;
  font-family: $body-font;
  h3{
    color: white;
    background-color: $dark-green;
    font-family: $header-font;
    display:inline-block;
  }
}
