@import "variables";
@import "mixins";
@import "sass-flexbox";
@import "overview";
@import "eventpop";
@import "sponsor";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: $base-green;
}

h1, h2, h3, h4, h5{
  font-family: $header-font;
}
.gradient {
  @include gradient($base-green, $cyan);
}

.top {
  height: 60px;
  width: 100%;
  @include display-flex();
  @include align-items(center);
  padding-left: 10px;
  z-index: 400;
  position: fixed;
}

//Logo
svg {
  width: 180px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 15px;
  cursor: pointer;
}

.st2, .st3, .st4, .st5, .st6 {
  opacity: 0;
}

.st2 {
  transition: 1.1s ease-in;
}

.st3 {
  transition: 0.9s ease-in;
}

.st4 {
  transition: 0.7s ease-in;
}

.st5 {
  transition: 0.5s ease-in;
}

.st6 {
  transition: 0.3s ease-in;
}

svg:hover .st2, svg:hover .st3, svg:hover .st4, svg:hover .st5, svg:hover .st6 {
  opacity: 1;
}

svg:hover .logo {
  opacity: 0;
}

.logo {
  opacity: 1;
  transition: 1.1s ease-out;
}

//Burger-menu

.burger-menu {
  height: 36px;
  width: 50px;
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-between);
  cursor: pointer;
}

.menu-line {
  width: 50px;
  height: 8px;
  background-color: #ffffff;
}

//Navigation Menu

.side-nav {
  height: 100vh;
  width: 0;
  background-color: #222222;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s;
  @include display-flex();
  @include justify-content(center);
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: #ffffff;
  font-family: $body-font;
}

.menu-points {
  width: 60%;
  height: 350px;
  @include display-flex();
  @include flex-direction(column);
  @include justify-content(space-around);
  margin-top: 100px;

  a {
    width: 20%;
    height: 50px;
    opacity: 0;
    transition: 0.1s;
    color: $base-green;
    font-family: $header-font;
    font-size: 50px;
    cursor: pointer;
    text-decoration: none;
  }
}
