@import "variables";
@import "mixins";
@import "sass-flexbox";

#content{
  .overview{
    background-color: $light-green;
    .overview_top{
      color: white;
      font-family: $header-font;
      height: 180px;
      @include display-flex();
      @include align-items(flex-end);
      @include justify-content(center);

      p {
        font-size: 50px;
        color: $dark-green;
      }
    }
    .overview_filters{
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 5px;
      color: $dark-green;
      font-family: $body-font;

      @include bp-mobile(){
        flex-direction: column;
      };
      .overview_filters-view{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        margin: 0 30px;
        div:first-child{
          font-size: 18px;
        }
        div:last-child{
          width: 100%;
          display: flex;
          justify-content: center;
          span{
            cursor: pointer;
            color: black;
            padding:7px;
            i{
              vertical-align: bottom;
              font-size: 28px;
            }
          }
          #overview-list {
            i {
              font-size: 33px;
            }
          }
          #overview-grid {
            i {
              font-size: 31px;
            }
          }
          span.active{
            color: $orange;
          }
        }
      }
      .overview_filters-selector{
        -webkit-appearance: none;
        border-radius: 0;
        border: solid 2px $dark-green;
        padding: 2px;
        flex-grow: 1;
        margin: 0 30px;
        background-color: $light-green;
        font-family: $body-font;
        color: $dark-green;
        font-size: 17px;
        padding-left: 5px;
        &:focus {
          outline: none;
        }

        @include bp-mobile(){
          width: 90%;
          margin-bottom: 10px;
        };
      }
      input{
        border: solid 2px #09765B;
        padding: 2px;
        flex-grow: 1;
        margin: 0 30px;
        background-color: $light-green;
        font-family: $body-font;
        color: $dark-green;
        font-size: 17px;
        padding-left: 5px;
        &[type="text"]{
          font-family: $body-font;
        }
        &:focus{
          outline: none;
        }
        &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
          color: $dark-green;
          font-family: $body-font;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
          color: $dark-green;
          font-family: $body-font;
          opacity: 1;
        }
        &:-moz-placeholder { /* Mozilla Firefox 19+ */
          color: $dark-green;
          font-family: $body-font;
          opacity: 1;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: $dark-green;
          font-family: $body-font;
        }
        &:-ms-input-placeholder { /* Microsoft Edge */
          color: $dark-green;
          font-family: $body-font;
        }
        @include bp-mobile(){
          width: 90%;
        };
      }
    }
    .overview-content{
      color: $dark-green;
      font-family: $body-font;
      h3{
        color: white;
        background-color: $dark-green;
        font-family: $header-font;
        display:inline-block;
      }
      .event-item{
        position: relative;
        cursor: pointer;
      }
    }
    .overview-content.list{
      .event-item{
        padding: 10px;
        border-top: solid 1px;
        background: transparent !important;
        .event-item_admin{
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          span {
            cursor: pointer;
            color: $orange;
          }
        }
        div{
          margin-top: 5px;
          max-width: 90%;
        }
        .event-item_date:after{
          content: ",";
        }
      }
      .event-item:last-of-type{
        border-bottom: solid 1px;
      }
    }
    .overview-content.grid{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .event-item{
        width: 33.33%;
        height: 350px;
        padding: 5px;
        position: relative;
        .event-item_admin{
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(-10%, 50%);
          bottom: auto;
          span {
            cursor: pointer;
          }
        }
        div{
          opacity: 0;
          position: absolute;
          bottom: 5px;
          background-color: white;
          @include transition(opacity .25s ease-in-out);
        }
        .event-item_date:after{
          content: ",";
        }
        @include bp-mobile() {
          width: 50%;
        }
      }
      .event-item:hover{
        div{
          opacity: 1;

        }
      }

    }
  }
  #newPhoneyEl{
    display: none;
  }
  .not-logged-in{
    .event-item_admin{ display: none !important;}
  }
}
