
//Colors
$base-green: #1EC39A;
$dark-green: #09765B;
$light-green: #F1FEF9;
$cyan: #6ABEAB;
$red: #761D00;
$orange: #C3461E;

//Fonts
$header-font: 'Overpass Mono', monospace;
$body-font: 'Lato', sans-serif;
