/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.1
*/
/*
    Display
 */
.top, .burger-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

/*
    Flex direction
 */
.burger-menu {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

/*
    Flex wrap
 */
/*
    Flex flow
 */
/*
    Order
 */
/*
    Flex grow
 */
/*
    Flex shrink
 */
/*
    Flex basis
 */
/*
    Flex
 */
/*
    Justify content
 */
.burger-menu {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-flex-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

/*
    Align items
 */
.top {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

/*
    Align self
 */
/*
    Align content
 */
#content .overview {
  background-color: #F1FEF9; }
  #content .overview .overview_top {
    text-align: center;
    color: white;
    font-family: "Overpass Mono", monospace; }
  #content .overview .overview_filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    color: #09765B;
    font-family: "Lato", sans-serif; }
    #content .overview .overview_filters .overview_filters-view {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      margin: 0 30px; }
      #content .overview .overview_filters .overview_filters-view div:last-child {
        width: 100%;
        display: flex;
        justify-content: center; }
        #content .overview .overview_filters .overview_filters-view div:last-child span {
          cursor: pointer;
          color: black;
          padding: 5px; }
          #content .overview .overview_filters .overview_filters-view div:last-child span i {
            vertical-align: middle; }
        #content .overview .overview_filters .overview_filters-view div:last-child span.active {
          color: #C3461E; }
    #content .overview .overview_filters .overview_filters-selector {
      -webkit-appearance: none;
      border-radius: 0;
      border: solid 2px #09765B;
      padding: 2px;
      flex-grow: 1;
      margin: 0 30px; }
    #content .overview .overview_filters input {
      border: solid 2px #09765B;
      padding: 2px;
      flex-grow: 1;
      margin: 0 30px; }
      #content .overview .overview_filters input[type="text"] {
        font-family: "Lato", sans-serif; }
  #content .overview .overview-content {
    color: #09765B;
    font-family: "Lato", sans-serif; }
    #content .overview .overview-content h3 {
      color: white;
      background-color: #09765B;
      font-family: "Overpass Mono", monospace;
      display: inline-block; }
  #content .overview .overview-content.list .event-item {
    padding: 10px;
    border-top: solid 1px; }
    #content .overview .overview-content.list .event-item div {
      margin-top: 5px; }
    #content .overview .overview-content.list .event-item .event-item_date:after {
      content: ","; }
  #content .overview .overview-content.list .event-item:last-of-type {
    border-bottom: solid 1px; }
  #content .overview .overview-content.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #content .overview .overview-content.grid .event-item {
      width: 33.33%;
      height: 200px;
      padding: 5px;
      position: relative;
      background: center center no-repeat url("../img/datguy.jpg"); }
      #content .overview .overview-content.grid .event-item div {
        opacity: 0;
        position: absolute;
        bottom: 5px;
        background-color: white;
        -moz-transition: opacity 0.25s ease-in-out;
        -o-transition: opacity 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out;
        transition: opacity 0.25s ease-in-out; }
      #content .overview .overview-content.grid .event-item .event-item_date:after {
        content: ","; }
      @media only screen and (max-width: 736px) {
        #content .overview .overview-content.grid .event-item {
          width: 50%; } }
    #content .overview .overview-content.grid .event-item:hover div {
      opacity: 1; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body {
  background-color: #1EC39A; }

.gradient {
  background: -webkit-linear-gradient(left top, #1EC39A, #6ABEAB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #1EC39A, #6ABEAB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #1EC39A, #6ABEAB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #1EC39A, #6ABEAB); }

.top {
  height: 60px;
  width: 100%;
  padding-left: 10px; }

svg {
  width: 180px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 15px; }

.st2, .st3, .st4, .st5, .st6 {
  opacity: 0; }

.st2 {
  transition: 1.1s ease-in; }

.st3 {
  transition: 0.9s ease-in; }

.st4 {
  transition: 0.7s ease-in; }

.st5 {
  transition: 0.5s ease-in; }

.st6 {
  transition: 0.3s ease-in; }

svg:hover .st2, svg:hover .st3, svg:hover .st4, svg:hover .st5, svg:hover .st6 {
  opacity: 1; }

svg:hover .logo {
  opacity: 0; }

.logo {
  opacity: 1;
  transition: 1.1s ease-out; }

.burger-menu {
  height: 36px;
  width: 50px;
  cursor: pointer; }

.menu-line {
  width: 50px;
  height: 8px;
  background-color: #ffffff; }

.side-nav {
  height: 100vh;
  width: 0;
  background-color: #222222;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.4s; }

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Lato", sans-serif; }

/*# sourceMappingURL=main.css.map */
